/*** GENERAL , mobile first***/
:root{
    --color1: #0084FD;
    --color2: #B5DDFF;
    --color3: #9792E4;
    --colorf: #3e3e3e;

}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: "Roboto",sans-serif;
    color: #45408e;
}

section{
    padding-bottom: 2rem;
    color: var(--colorf);
}

img{
    display: block;
    width: 100%;
    max-height: max-content;
}

button{ 
    border-radius: 50px;
    padding: 10px 50px;
    font-size: medium;
    border: none;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}



.row{
    display: flex;
    flex-wrap: wrap;
}

.col-1{
    flex-basis: 100%;
}

.col-1-2{
    flex-basis: 50%;
}

.col-1-3{
    flex-basis: calc(100% / 3);
}

.col-2-3{
    flex-basis: calc(100% * (2 / 3));
}

.col-1-3{
    flex-basis: calc(100% / 4);
}

.card{
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    line-height: 1.5rem;
    height: 100%;
}

.btn-blue{
    background-color: var(--color1);
    color: white;
    font-weight: 600;
}

#mrg{
   margin: 0; 
}

.mrg-auto{
    margin: 0 auto;
}

.mrg-v1{
    margin: 1rem 0;
}
.nmrg-15{
    margin: 0 -15px;
}
.txt-center{
    text-align: center;
    width: 100%;
}
.pd-top2{
    padding-top: 2rem;
}

.pd-btm2{
    padding-bottom: 2rem;
}

.pd-30{
    padding: 15px;
}

.lh2{
    line-height: 2rem;
}

.c-white{
    color: white;
}

.c-violet{
    color: var(--color3);
}

.c-dark{
    color: var(--colorf);
}

.fs{
    font-size: 2.1rem;
}

.fs1{
    font-size: 1rem;
}

.fs35{
    font-size: 3.5rem;
}

.fw3{
    font-weight: 300;
}
.italic{
    font-style: italic;
}

.text-color{
    color: var(--colorf);
}

.grow{
    flex-grow: 1;
}

div[class^="img-round"]{
    aspect-ratio: 1/1;
    padding: 15% 0;
    border-radius: 50%;
    width: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}

/*** NAV-SECTION ***/
nav {
    background-color: var(--color1);
    position: fixed;
    top: 0%;
    height: 60px;
    width: 100%;
}

nav > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.list-menu{
    display: none;
}

.list-menu > ul{
    list-style: none;
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

.list-menu > ul > li > a{
    text-decoration: none;
    color: white;
}

.btn-nav{
    color: var(--colorf);
    padding: 10px 10px;
}
/*** CONTENT-SECTION ***/

/* section1 */
.section1{
    margin-top: 80px;
}

.card-s1{
    background-color: var(--color2);
}

.card-s1 > .text > h2{
    color: var(--color1);
}

.card-s1 > h2{
    color: var(--color1);
}

.card-s1 > div > div > button > img{
    width: 15px;
}
.img-s1{
    max-height: 300px;
    width: auto;
    margin: auto;
}

.icon{
    width: 100px;
    max-height: 100px;
}

/* section2 */
.section2{
    background-color: var(--color3);
    padding-top: 80px;
}

.section2 p{
    font-size: large;
    line-height: 30px;
}

.bg-white{
    background-color: white;
}

.btn-download{
    width: 50px;
    height: 50px;
    background-color: var(--color3);
    border-radius: 50%;
    padding: 0 15px;
    margin: auto;
}

.btn-download > img{
    width: 20px;
}

/* section3 */
.section3{
    margin-top: 80px;
}

.bg-violet{
    background-color: var(--color3);
}

.title-sec3{
    color: var(--color3);

}

.t1{
    background-image: url(../img/testimonial1.jpg);
}

.t2{
    background-image: url(../img/testimonial2.jpg);
}
.t3{
    background-image: url(../img/testimonial3.jpg);
}


/* section4 */
.section4{
    background-color: var(--color3);
}

.card-s4{
    background-color: white;
}

.number{
    font-size: 3.5rem;
    font-weight: bold;
}

.btn-sc4{
    background-color: var(--color3);
    color: white;
    margin-top: 2rem;
}

/* seection5 */
.tsec5{
    background-image: url(../img/about.jpg);
}

.btn-sec5{
    background-color: var(--color3);
    color: white;
    padding: 10px 10px;
}

.btn-sec5 > img {
    width: 15px;
}

/* section6 */
.section6{
    background-color: var(--color3);
}

.link-w{
    text-decoration: underline;
    color: white;
}


/*** FOOTER-SECTION ***/
footer{
    background-color: var(--colorf);
    color: white;
}

.link-v{
    text-decoration: underline;
    color: var(--color3);
}




